body{font-family: 'Roboto', sans-serif;}
section{background:#061f3e;color:white;}

ul.navigation {margin-top:20px;}
ul.navigation li{float:left;margin-right: 10px;}
ul.navigation li a{text-decoration:none;}

.bg-whitesmoke{background:whitesmoke;}

.logo a{text-decoration: none;color: white}

.main-wrapper{min-height: 500px;}

.intro,.main-content{min-height:500px;padding-bottom: 20px;}

.intro h4{color: rgb(21, 121, 153);}

.intro hr{border-top: 1px solid #Ffffff;}

.project-title-bar{padding-top:5px;padding-bottom:5px;}

.create-new{text-align: center;}

.create-new input{margin-bottom: 10px;padding: 5px;min-width: 300px;}

.user-sign-in input{margin-bottom: 10px;}

.p-name{font-size: 16px; font-weight: bold;margin-right: 10px;}

.title{padding:5px;font-weight: bold;font-size: 16px;}

.participants{padding: 5px;}

.add-like,.add-dislike,.add-suggestion {text-align: center;}

.add-like span,.add-dislike span,.add-suggestion span{font-size: 20px;margin-right: 5px;}

.likes-dislikes-suggestions textarea{width: 100%;
padding: 5px;
border: 1px dotted #4C95F0;
margin-bottom: 10px;}

.box{width: 49%;}

.box .content{min-height: 120px;height:120px;overflow: auto;}

.box{padding:10px;margin: 2px;overflow: wrap}

.box span {display: block;overflow-wrap: break-word;}

.fade{opacity: 0.5;}

.center-wrapper{width:100%;height:500px;position: fixed; z-index: 9000}

.share-this-url,.user-sign-in{margin-left:auto;margin-right:auto;position:relative;margin-top:50px;padding:20px;width:600px;height:200px;}

.share-this-url{width:650px;background: white;border: 1px solid #DFF0D8;margin-top: 180px; text-align: center;height: auto;
padding-bottom: 40px;}
.share-this-url span.url{color:#75D0FD}
.align-right{text-align: center;}

.title{ padding: 5px;}

.participants span{padding: 2px 5px 2px 5px; margin: 5px 5px 5px 0px; border-radius:5px;display: inline-block;}

.options{text-align: center;}

.word-count{background: whitesmoke;width: 20px;text-align: center;position: relative;left: 95%;}

footer{text-align: center}

/********** Animation Effects ************/
.repeat-item.ng-enter, 
.repeat-item.ng-leave
{ 
	-webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: clip;
	white-space:nowrap;
} 

.repeat-item.ng-leave.ng-leave-active,
.repeat-item.ng-enter {
	opacity: 0;
	width: 0px;
	height: 0px;
}

.repeat-item.ng-enter.ng-enter-active, 
.repeat-item.ng-leave {
	opacity: 1;
	width: 150px;
	height: 30px;
}

/**********************End*************************/

/***************** Icons *************************/
.avoid-clicks {
  pointer-events: none;
}
.add-like-button img,.add-dislike-button img,.add-suggestion-button img{margin-top:-5px;}

.all-projects ul li{list-style-type: none}