<div class="main-content">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h3>Search Here</h3>
			<hr/>
		</div>
		<div class="col-md-8">
			<h3>Projects</h3>
			<hr/>
			<div class="all-projects">
			<ul>
				<div ng-repeat="project in projects">
				  <li>	<a ng-click="showProject(project)" class="col-md-4">{{project.name}}</a>
				  	    <br/>
						<ul>
							<div ng-repeat="(id,retro) in project.retros">
								<li><a ng-click="showRetro(retro._id)" class="col-md-4">{{id+1}} - {{retro.createdOn | date:'medium'}} </a></li>
							</div>
						</ul>
                  </li> 
				</div>
			</ul>
			</div>
		</div>
	</div>
</div>	
</div>